/* Start Variables */

:root {
    --main-color: #d19c97;
    --para-color: #1C1C1C;
    --tran-dur: 0.3s;
    --section-padd: 50px;
    --sub-color: #edf1ff;
}

/* End Variables */

/* Start Component */

.comp {
    background-color: var(--sub-color, #edf1ff);
    min-height: 300px;
    position: relative;
}

.comp .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.comp .container h1 {
    font-size: 39px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .comp .container h1 {
        font-size: 30px;
    }
}

.comp .container .home a {
    color: var(--main-color, #d19c97);
}

.comp .container .home a:hover {
    text-decoration: underline;
}

.comp .container .home span {
    color: #6F6F6F;
}

.put {
    position: relative;
}


.put input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    z-index: 1;
}

.put .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid var(--sub-color, #edf1ff);
    cursor: pointer;
}

input:checked~.checkmark {
    background-color: var(--main-color, #d19c97);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

input:checked~.checkmark:after {
    display: flex;
}

.checkmark:after {
    content: "\f00c";
    font-weight: 900;
    font-size: 12px;
    background-color: var(--main-color, #d19c97);
    font-family: "Font Awesome 5 Free";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: solid white;
    border-width: 0 3px 3px 0;
    justify-content: center;
    align-items: center;
    color: white;
}

/* End Component */

/* Start Shop */

.shop {
    padding-top: var(--section-padd, 50px);
    padding-bottom: var(--section-padd, 50px);
}

.shop .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 1199px) {
    .shop .container {
        width: auto;
    }
}

@media (max-width: 991px) {
    .shop .container {
        flex-direction: column;
    }
}

.shop .container .lists {
    flex-basis: 25%;
}

@media (max-width: 991px) {
    .shop .container .lists {
        width: 100%;
    }
}

.shop .container .lists .list {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--sub-color, #edf1ff);
}

.shop .container .lists h5 {
    font-size: 20px;
    color: var(--para-color, #1C1C1C);
    font-weight: 600;
    margin-bottom: 20px;
}

.shop .container .lists ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #6F6F6F;
}

.shop .container .lists ul li .put {
    position: relative;
}

.shop .container .lists ul li span:not(span.checkmark) {
    font-size: 12px;
    border: 1px solid var(--sub-color, #edf1ff);
    padding: 3px;
}

.shop .container .lists ul li .put label {
    margin-left: 30px;
}

.shop .container .products.sub-page {
    flex-basis: 70%;
    padding: 0;
}

@media (max-width: 991px) {
    .shop .container .products.sub-page {
        width: 100%;
    }
}

.shop .container .products.sub-page .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .shop .container .products.sub-page .nav {
        padding: 10px 0;
    }
}

.shop .container .products.sub-page .nav .input {
    display: flex;
}

@media (max-width: 768px) {
    .shop .container .products.sub-page .nav .input {
        flex-basis: 50%;
    }
}

.shop .container .products.sub-page .nav .input input {
    border: 1px solid var(--sub-color, #edf1ff);
    padding: 5px 10px;
    width: 100%;
}

.shop .container .products.sub-page .nav .input input:focus {
    outline: none;
}

.shop .container .products.sub-page .nav .input .icon {
    border: 1px solid var(--sub-color, #edf1ff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: var(--main-color, #d19c97);
    cursor: pointer;
}

.shop .container .products.sub-page .nav .sort {
    position: relative;
}

.shop .container .products.sub-page .nav .sort button {
    background: none;
    border: 1px solid var(--sub-color, #edf1ff);
    color: #6F6F6F;
    padding: 10px;
    cursor: pointer;
}

.shop .container .products.sub-page .nav .sort ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -60px;
    background-color: white;
    width: 160px;
    border: 1px solid var(--para-color, #1C1C1C);
    padding: 10px 0;
}

.shop .container .products.sub-page .nav .sort:hover ul {
    display: block;
}

.shop .container .products.sub-page .nav .sort ul li:hover {
    background-color: var(--sub-color, #edf1ff);
}

.shop .container .products.sub-page .nav .sort ul li a {
    display: block;
    padding: 10px 20px;
    color: var(--para-color, #1C1C1C);
}

.shop .container .products.sub-page .shop-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.shop .container .products.sub-page .shop-content .product {
    flex-basis: calc((100% / 3) - 30px);
}

@media (max-width: 991px) {
    .shop .container .products.sub-page .shop-content .product {
        flex-basis: calc((100% / 2) - 30px);
    }
}

@media (max-width: 768px) {
    .shop .container .products.sub-page .shop-content .product {
        flex-basis: 100%;
        text-align: center;
    }
}

.shop .container .products.sub-page nav {
    text-align: center;
}

.shop .container .products.sub-page nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop .container .products.sub-page nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 45px;
    border: 1px solid #dee2e6;
    color: var(--main-color, #d19c97);
}

.shop .container .products.sub-page nav ul li:first-of-type a,
.shop .container .products.sub-page nav ul li:last-of-type a {
    font-size: 12px;
}

.shop .container .products.sub-page nav ul li.active a {
    color: white;
    background-color: var(--main-color, #d19c97);
}

.shop .container .products.sub-page nav ul li:not(li:first-of-type, li.active, li:last-of-type) a:hover {
    background-color: #e9ecef;
}

/* End Shop */

/* Start Details */

.details {
    padding-top: var(--section-padd, 50px);
    padding-bottom: var(--section-padd, 50px);
}

.details .container:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 1199px) {
    .details .container {
        width: auto;
    }
}

@media (max-width: 991px) {
    .details .container:first-of-type {
        flex-direction: column;
    }
}

.details .container .image {
    border: 1px solid var(--sub-color, #edf1ff);
    flex-basis: 40%;
    position: relative;
}

@media (max-width: 991px) {
    .details .container .image {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

.details .container .image img {
    max-width: 100%;
}

.details .container .image .icon {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: #8e8e8e;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
}

.details .container .image .icon:hover {
    color: #333;
}

.details .container .image .icon.left {
    left: 20px;
}

.details .container .image .icon.right {
    right: 20px;
}

.details .container .text {
    flex-basis: 55%;
}

.details .container .text h3:first-of-type {
    font-size: 28px;
    font-weight: 600;
    color: var(--para-color, #1C1C1C);
    margin-bottom: 10px;
}

.details .container .text .rate i {
    color: var(--main-color, #d19c97);
    font-size: 13px;
}

.details .container .text .rate span {
    font-size: 13px;
    color: #6F6F6F;
    margin-left: 5px;
}

.details .container .text h3.price {
    font-size: 29px;
    color: var(--para-color, #1C1C1C);
    font-weight: 600;
    margin: 20px 0;
}

.details .container .text p {
    color: #6F6F6F;
    line-height: 1.5;
    margin-bottom: 20px;
}

.details .container .text .size,
.details .container .text .color {
    margin-bottom: 10px;
}

.details .container .text .size span,
.details .container .text .color span {
    color: var(--para-color, #1C1C1C);
    font-weight: 600;
    margin-right: 20px;
}

.details .container .text .size label,
.details .container .text .color label {
    margin: 0 10px 0 5px;
    color: #6F6F6F;
}

.details .container .text .color {
    display: flex;
}

.details .container .text .color form {
    display: flex;
    flex-wrap: wrap;
}

.details .container .text .add {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.details .container .text .add ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.details .container .text .add ul li button {
    margin-left: -5px;
    border: none;
    background-color: var(--main-color, #d19c97);
    height: 38px;
    width: 40px;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
    cursor: pointer;
}

.details .container .text .add ul li button:hover {
    background-color: #c5837c;
    color: white;
}

.details .container .text .add ul li button i {
    font-weight: 900;
}

.details .container .text .add ul li:first-of-type button {
    margin: 0 0 0 5px;
}

.details .container .text .add ul li input {
    width: 50px;
    text-align: center;
    height: 38px;
    border: none;
    background-color: #e9ecef;
}

.details .container .text .add ul+button {
    border: none;
    background-color: var(--main-color, #d19c97);
    color: var(--para-color, #1C1C1C);
    height: 38px;
    padding: 0 10px;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
    cursor: pointer;
}

.details .container .text .add ul+button:hover {
    background-color: #c5837c;
    color: white;
}

.details .container .text .socials {
    margin-top: 40px;
    color: var(--para-color, #1C1C1C);
}

.details .container .text .socials span {
    font-weight: 600;
    margin-right: 10px;
}

.details .container .text .socials i {
    margin-right: 10px;
    cursor: pointer;
}

.details .end-bar {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.details .end-bar a {
    display: block;
    padding: 10px;
    border: 1px solid #dee2e6;
    color: var(--main-color, #d19c97);
}

.details .end-bar a:first-of-type {
    color: var(--para-color, #1C1C1C);
    border-bottom: none;
    background-color: white;
    margin-bottom: -5px;
}

.details .end-bar a:not(a:first-of-type) {
    border-color: transparent;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
}

.details .end-bar a:not(a:first-of-type):hover {
    border-color: #dee2e6;
}

.details .container h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
}

.details .container p {
    margin-bottom: 10px;
    color: #6F6F6F;
    line-height: 1.5;
}

/* End Details */

/* Start Cart */

.cart {
    padding-top: var(--section-padd, 50px);
    padding-bottom: var(--section-padd, 50px);
}

.cart .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 1199px) {
    .cart .container {
        width: auto;
    }
}

@media (max-width: 991px) {
    .cart .container {
        flex-direction: column;
    }
}

.cart .container .table {
    flex-basis: 70%;
}

.cart .container .table::-webkit-scrollbar {
    display: none;
}

@media (max-width: 991px) {
    .cart .container .table {
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .cart .container .table {
        overflow-x: scroll;
    }
}

.cart .container .table table {
    border-collapse: collapse;
    color: #6F6F6F;
    width: 100%;
}

.cart .container table th {
    background-color: var(--sub-color, #edf1ff);
    color: var(--para-color, #1C1C1C);
    padding: 20px;
    text-align: center;
}

.cart .container table th,
.cart .container table td {
    border: 1px solid var(--sub-color, #edf1ff);
}

.cart .container table img {
    width: 50px;
    margin-right: 10px;
}

.cart .container table tr td:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
}

.cart .container table tr td:not(td:first-of-type) {
    text-align: center;
}

.cart .container table tr td button {
    background-color: var(--main-color, #d19c97);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
}

.cart .container table tr td button:hover {
    color: white;
    background-color: #c5837c;
}

.cart .container table tr td:nth-last-of-type(3) button {
    margin: -4px;
}

.cart .container table tr td:nth-last-of-type(3) input {
    width: 30px;
    border: none;
    text-align: center;
    background-color: var(--sub-color, #edf1ff);
    padding: 10px;
}

.cart .container table tr td:nth-last-of-type(3) input:focus {
    outline: none;
}

.cart .container .check {
    flex-basis: 27%;
}

@media (max-width: 991px) {
    .cart .container .check {
        width: 100%;
    }
}

.cart .container .check .coupon {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 70px;
}

.cart .container .check .coupon input {
    padding: 15px;
    border: 1px solid var(--sub-color, #edf1ff);
    height: 50px;
    width: 100%;
}

.cart .container .check .coupon input:focus {
    outline: none;
}

.cart .container .check .coupon button {
    border: none;
    color: var(--para-color);
    background-color: var(--main-color, #d19c97);
    padding: 17px 6px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
    height: 50px;
}

.cart .container .check .coupon button:hover {
    background-color: #c5837c;
    color: white;
}

.cart .container .check .sum {
    border: 1px solid var(--sub-color, #edf1ff);
}

.cart .container .check .sum h4 {
    font-size: 24px;
    background-color: var(--sub-color, #edf1ff);
    font-weight: 600;
    padding: 20px;

}

.cart .container .check .sum div:not(div.total) {
    padding: 20px 10px;
    font-size: 16px;
    color: var(--para-color, #1C1C1C);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.cart .container .check .sum div.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-top: 1px solid var(--sub-color, #edf1ff);
}

.cart .container .check .sum div.total h5 {
    font-size: 20px;
}

.cart .container .check button.out {
    margin: 10px auto;
    display: block;
    border: none;
    background-color: var(--main-color, #d19c97);
    width: calc(100% - 30px);
    padding: 20px;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
    cursor: pointer;
}

.cart .container .check button.out:hover {
    background-color: #c5837c;
    color: white;
}

/* End Cart */

/* Start Checkout */

.checkout {
    padding-top: var(--section-padd, 50px);
    padding-bottom: var(--section-padd, 50px);
}

.checkout .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: 1199px) {
    .checkout .container {
        width: auto;
    }
}

@media (max-width: 991px) {
    .checkout .container {
        flex-direction: column;
    }
}

.checkout .container .address {
    flex-basis: 66%;
}

@media (max-width: 991px) {
    .checkout .container .address {
        width: 100%;
    }
}

.checkout .container .address h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--para-color, #1C1C1C);
    margin-bottom: 20px;
}

.checkout .container .address .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .checkout .container .address .content {
        flex-direction: column;
    }
}

.checkout .container .address .content div.field {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .checkout .container .address .content div.field {
        width: 100%;
    }
}

.checkout .container .address .content div.field label {
    color: #6F6F6F;
    margin-bottom: 10px;
}

.checkout .container .address .content div.field input,
.checkout .container .address .content div.field select {
    padding: 10px;
    border: 1px solid var(--sub-color, #edf1ff);
}

.checkout .container .address .content div.field input:focus,
.checkout .container .address .content div.field select:focus {
    outline: none;
}

.checkout .container .address .content div.field form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.checkout .container .address .content div.field form .put {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.checkout .container .address .content div.field form .put label {
    margin-left: 40px;
}

.checkout .container .last-panal {
    flex-basis: 31%;
}

@media (max-width: 991px) {
    .checkout .container .last-panal {
        width: 100%;
    }
}

.checkout .container .last-panal .order {
    border: 1px solid var(--sub-color, #edf1ff);
    margin-bottom: 40px;
}

.checkout .container .last-panal .order h4,
.checkout .container .last-panal .pay h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    background-color: var(--sub-color, #edf1ff);
}

.checkout .container .last-panal .order .first-div {
    margin-bottom: 10px;
}

.checkout .container .last-panal .order .first-div h5 {
    font-size: 20px;
    color: var(--para-color, #1C1C1C);
    font-weight: 600;
    padding: 15px 10px;
    width: 95%;
    margin: 0 auto;
}

.checkout .container .last-panal .order .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #6F6F6F;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.checkout .container .last-panal .order .text:last-of-type::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    height: 1px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #e5e5e5;
}

.checkout .container .last-panal .order .oc-text {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.checkout .container .last-panal .order .oc-text h6 {
    font-size: 16px;
    color: var(--para-color, #1C1C1C);
    font-weight: 600;
}

.checkout .container .last-panal .order .oc-text.total {
    padding: 20px;
    border-top: 1px solid var(--sub-color, #edf1ff);
    width: 100%;
}

.checkout .container .last-panal .order .oc-text.total h5 {
    color: var(--para-color, #1C1C1C);
    font-size: 20px;
}

.checkout .container .last-panal .pay {
    border: 1px solid var(--sub-color, #edf1ff);
}

.checkout .container .last-panal .pay h4 {
    margin-bottom: 20px;
}

.checkout .container .last-panal .pay form {
    padding: 0 10px;
}

.checkout .container .last-panal .pay form div {
    padding: 10px;
    position: relative;
}

.checkout .container .last-panal .pay input {
    top: 0;
    left: 0;
}

.checkout .container .last-panal .pay form div label {
    margin-left: 40px;
    color: #6F6F6F;
}

.checkout .container .last-panal .pay form div span.checkmark {
    border: 1px solid #8e8e8e;
}

.checkout .container .last-panal .pay form div input:checked~.checkmark {
    border: none;
}

.checkout .container .last-panal .pay .place {
    padding: 20px;
    border-top: 1px solid var(--sub-color, #edf1ff);
}

.checkout .container .last-panal .pay .place button {
    width: 95%;
    display: block;
    margin: 0 auto;
    background-color: var(--main-color, #d19c97);
    border: none;
    padding: 20px;
    font-weight: 700;
    color: var(--para-color, #1C1C1C);
    font-size: 20px;
    cursor: pointer;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
}

.checkout .container .last-panal .pay .place button:hover {
    background-color: #c5837c;
    color: white;
}

/* End Checkout */

/* Start Contact */

.contact {
    padding-top: var(--section-padd, 50px);
    padding-bottom: var(--section-padd, 50px);
}

@media (max-width: 1199px) {
    .contact .container {
        width: auto;
    }
}

.contact .container .content {
    display: flex;
    justify-content: space-around;
}


@media (max-width: 991px) {
    .contact .container .content {
        flex-direction: column;
    }
}

@media (max-width: 576px) {

    .contact .container .main-title h2::before {
        left: -10%;
        width: 120%;
    }

    .contact .container .main-title h2 span {
        font-size: 20px;
    }
}

.contact .container .form {
    flex-basis: 55%;
}

@media (max-width: 991px) {
    .contact .container .form {
        width: 100%;
        margin-bottom: 40px;
    }
}

.contact .container .form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact .container .form form input,
.contact .container .form form textarea {
    width: 100%;
    display: block;
    border: 1px solid var(--sub-color, #edf1ff);
    padding: 10px;
    margin-bottom: 20px;
}

.contact .container .form form input:focus,
.contact .container .form form textarea:focus {
    outline: none;
}

.contact .container .form form textarea {
    height: 150px;
    resize: vertical;
}

.contact .container .form form button {
    display: block;
    width: fit-content;
    border: none;
    background-color: var(--main-color, #d19c97);
    padding: 15px 20px;
    transition: var(--tran-dur, 0.3s);
    -webkit-transition: var(--tran-dur, 0.3s);
    -moz-transition: var(--tran-dur, 0.3s);
    -ms-transition: var(--tran-dur, 0.3s);
    -o-transition: var(--tran-dur, 0.3s);
    cursor: pointer;
}

.contact .container .form form button:hover {
    background-color: #c5837c;
    color: white;
}

.contact .container .words {
    flex-basis: 38%;
}

@media (max-width: 991px) {
    .contact .container .words {
        width: 100%;
    }
}

.contact .container .words .first-p {
    margin-bottom: 20px;
}

.contact .container .words h5 {
    font-size: 20px;
    color: var(--para-color, #1C1C1C);
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .container .words .first-p p {
    line-height: 1.6;
    color: #6F6F6F;
}

.contact .container .words .store {
    margin-bottom: 20px;
}

.contact .container .words .store p {
    margin-bottom: 20px;
    color: #8e8e8e;
}

.contact .container .words .store p i {
    color: var(--main-color, #d19c97);
    margin-right: 10px;
}

/* End Contact */